<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scriptGenerator" type="DataInsertionScriptGenerator.Config.ScriptGeneratorSection, DataInsertionScriptGenerator" />
  </configSections>
  <connectionStrings>
    <add name="Source" connectionString="Server=PCOLSCI00; Initial Catalog=AE_Portal; Integrated Security=true;Connection Timeout=300"/>
    <add name="Destination" connectionString="Server=DCOLSQL00; Initial Catalog=Innova_Staging; Integrated Security=true;Connection Timeout=300"/>
  </connectionStrings>
  <appSettings>
    <add key="OutputFilePath" value="C:\Temp"/>
    <add key="ExecuteScripts" value="false"/>
  </appSettings>
  <scriptGenerator>
    <scripts>
      <script name="Cms" generateCreateTable="true">
        <filters defaultSchema="cms" defaultDatabase="AE_Portal">
          <includeTables>
            <table name="KnowledgeLibrary" />
            <table name="MenuIcon" />
            <table name="Role" />
            <table name="Site" />
            <table name="SiteContent" />
            <table name="SiteContentRole" />
            <table name="SiteContentStatus" />
            <table name="SiteContentType" />
            <table name="SiteDocumentType" />
            <table name="SiteGroup" />
            <table name="SiteRole" />
            <table name="SiteTemplate" />
            <table name="ThirdPartyResource" />
          </includeTables>
        </filters>
      </script>      
      <script name="Geo" generateCreateTable="true">
        <filters defaultSchema="dbo" defaultDatabase="Geo">
          <includeTables>
            <table name="admin1codes" />
            <table name="City" />
            <table name="TimeZones" />
            <table name="StateProvince" />
            <table name="Country" />
          </includeTables>
        </filters>
      </script>
      <script name="Groups" generateCreateTable="true">
        <filters defaultSchema="dbo" defaultDatabase="FASI_Tracking">
          <includeTables>
            <table name="Users" database="FASI_ISecurity" />
            <table name="TeamMember" />
            <table name="Team" />
            <table name="TeamProfile" />
          </includeTables>
        </filters>
      </script>
      <script name="Users" generateCreateTable="true">
        <filters defaultSchema="dbo" defaultDatabase="AE_Security">
          <includeTables>
            <table name="AE_User"/>
            <table name="AE_Person" />
            <table name="AE_UserStatus" />
            <table name="AE_Role" />
            <table name="AE_UserRoles" />
            <table name="SecLic_Profiles" database="FASI_FirstAllied" />
            <table name="SecLic_ProfileBranch" database="FASI_FirstAllied" />
            <table name="SecLic_Branch" database="FASI_FirstAllied" />
            <table name="SecLic_OutsideBusiness" database="FASI_FirstAllied" />
            <table name="SecLic_License" database="FASI_FirstAllied" />
            <table name="SecLic_LicenseType" database="FASI_FirstAllied" />
            <table name="SecLic_ExamType" database="FASI_FirstAllied" />
            <table name="SecLic_SecLicense" database="FASI_FirstAllied" />
          </includeTables>
        </filters>
      </script>
      <script name="Forms" generateCreateTable="true">
        <filters defaultSchema="dbo" defaultDatabase="Forms">
          <includeTables>
            <table name="AdvisorMetrics"/>
            <table name="BusinessPlan"/>
            <table name="BusinessPlanEmployee"/>
            <table name="BusinessPlanEmployeeEmployeeRole"/>
            <table name="BusinessPlanEmployeeRole"/>
            <table name="BusinessPlanObjective"/>
            <table name="BusinessPlanObjectiveStrategy"/>
            <table name="BusinessPlanStrategy"/>
            <table name="BusinessPlanStrategyTactic"/>
            <table name="BusinessPlanSwot"/>
            <table name="BusinessPlanTactic"/>
            <table name="Survey"/>
            <table name="SurveyAnswer"/>
            <table name="SurveyAnswerAudit"/>
            <table name="SurveyAnswerSuggestedContent"/>
            <table name="SurveyPages"/>
            <table name="SurveyPageScoreRanges"/>
            <table name="SurveyQuestionAnswers"/>
            <table name="SurveyQuestions"/>
            <table name="SurveyResponse"/>
            <table name="SurveyResponseHistory"/>
            <table name="Workflow"/>
            <table name="WorkflowActionItem"/>
            <table name="WorkflowConfidence"/>
            <table name="WorkflowInterest"/>
            <table name="WorkflowInterestMessage"/>
            <table name="WorkflowPhase"/>
            <table name="WorkflowProgress"/>
            <table name="WorkflowProgressActionItem"/>
            <table name="WorkflowProgressAdmin"/>
            <table name="WorkflowProgressConfidenceLog"/>
            <table name="WorkflowProgressStep"/>
            <table name="WorkflowStep"/>
          </includeTables>
        </filters>
      </script>
      <script name="Rules" generateCreateTable="true">
        <filters defaultSchema="dbo" defaultDatabase="Services">
          <includeTables>
            <table name="RS_Sets"/>
          </includeTables>
        </filters>
      </script>
    </scripts>
  </scriptGenerator>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>