<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Server=dcolsql00;Database=Innova;Integrated Security=SSPI;Application Name=Portal.Services;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <add key="app:UserProfileSchema" value="dbo" />
    <add key="Enrollment.SurveyName" value="Enrollment" />
    <add key="app:Configuration.Environment" value="Development" />
    <add key="app:AppFabric.CacheName" value="Guideport" />

    <!-- Email Settings -->
    <add key="app:Email.System" value="mailer@guideportcfg.com" />
    <add key="app:Email.Recipients.To.Override" value="chaas@firstallied.com" />
    <add key="app:Email.Recipients.Cc" value="" />
    <add key="app:Email.Recipients.Bcc" value="" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2097151" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="guideport@firstallied.com">
        <network host="aspemail.firstallied.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <dataCacheClient>
    <!-- cache host(s) -->
    <hosts>
      <host name="DCOLDEV03" cachePort="22233"/>
      <host name="SDDTMXL3170CWV" cachePort="22233"/>
    </hosts>
  </dataCacheClient>  
<!--    
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\Portal.Services.Errors.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\Portal.Services.Messages.svclog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
-->  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false" logMalformedMessages="true" logEntireMessage="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <dataContractByRefSerializer />
        </behavior>
        <behavior name="streamEndpointBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <dataContractByRefSerializer />
          <logger />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="streamServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customSyncServiceBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>

        <binding name="customStreamServiceBinding" sendTimeout="01:00:00" receiveTimeout="01:00:00" openTimeout="01:00:00" closeTimeout="01:00:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport transferMode="Streamed" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>

        <binding name="customSyncClientBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64835/cms.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ICmsService" />
      <endpoint address="http://localhost:64835/geo.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IGeoService" />
      <endpoint address="http://localhost:64835/log.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ILogService" />
      <endpoint address="http://localhost:64835/rule.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IRuleService" />
      <endpoint address="http://localhost:64835/survey.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ISurveyService" />
      <endpoint address="http://localhost:64835/user.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IUserService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="dataContractByRefSerializer" type="Portal.Infrastructure.ServiceModel.DataContractByRefSerializerExtensionElement, Portal.Infrastructure" />
        <add name="logger" type="Portal.Services.LoggerBehaviorExtensionElement, Portal.Services" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Portal.Services.Affiliate" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IAffiliateService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.BusinessPlan" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IBusinessPlanService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Configuration" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IConfigurationService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Cms" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.ICmsService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Email" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IEmailService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.File" behaviorConfiguration="streamServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IFileService" binding="customBinding" bindingConfiguration="customStreamServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Geo" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IGeoService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Group" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IGroupService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Log" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.ILogService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Planning" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IPlanningService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Report" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IReportService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Rule" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IRuleService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.Survey" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.ISurveyService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Portal.Services.User" behaviorConfiguration="defaultServiceBehavior">
        <endpoint address="" contract="Portal.Services.Contracts.IUserService" binding="customBinding" bindingConfiguration="customSyncServiceBinding">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>