/*
	Colors
*/
/*
	Dimensions
*/
/*
	Type
*/
/*
	Typography
*/
html,
body {
  height: 100%; }

body {
  font-family: Arial, Verdana;
  font-size: 14px;
  line-height: 1.5em;
  color: #002949; }

body.blue-bg {
  background-color: #00457c; }

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", sans-serif, Arial, Verdana;
  font-weight: 300;
  color: #00457c; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: inherit; }
  h1 strong, h2 strong, h3 strong, h4 strong, h5 strong {
    font-weight: 400; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px;
  margin: 20px 0 10px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 14px; }

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 48px; }

  h2 {
    font-size: 36px; }

  h3 {
    font-size: 30px;
    margin: 30px 0 20px; }

  h4 {
    font-size: 24px; }

  h5 {
    font-size: 18px; } }
a {
  color: #0077b8;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
  text-decoration: underline; }
  a:hover {
    color: #9ac6d7; }
  a:hover {
    text-decoration: none; }

p {
  color: #002949; }

/*
	Global Layout
*/
#full-wrap {
  height: 100%; }

#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 110px; }

#footer {
  position: relative;
  margin-top: -110px;
  height: 110px;
  clear: both; }

.main-wrap {
  padding-bottom: 30px; }

.padded {
  padding: 0 30px; }

/* Opera Fix for sticky footer */
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

.page-header {
  padding-bottom: 9px;
  margin: 0 0 10px;
  border-bottom: 1px solid #eeeeee; }
  .page-header h1 {
    margin-top: 0;
    margin-bottom: 0; }

.page-intro {
  margin: 20px 0;
  line-height: 20px; }

.page-description {
  font-family: Arial, Verdana;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 35px;
  border-bottom: solid 1px #b2c7d7;
  margin-top: 20px;
  margin-bottom: 30px !important; }

.trademark {
  position: absolute;
  top: 18px;
  font-size: 18px; }

.pointer {
  cursor: pointer; }

.blue {
  color: #00457c; }

.normal {
  font-weight: 400; }

.mt0 {
  margin-top: 0 !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr30 {
  margin-right: 30px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.p30 {
  padding: 30px !important; }

.text-pre {
  white-space: pre-wrap; }

.viewing-as-banner {
  background-color: #716f70;
  border-bottom: solid 1px white;
  padding: 5px 0; }
  .viewing-as-banner > div {
    text-align: center;
    line-height: 22px;
    color: white; }
    .viewing-as-banner > div span {
      display: inline-block;
      background-color: #4e4d4d;
      color: inherit;
      padding: 0 7px;
      margin-left: 5px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
      .viewing-as-banner > div span button {
        color: #b4b3b3;
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
        border: none;
        text-decoration: none;
        padding: 0;
        background: none; }
        .viewing-as-banner > div span button:hover {
          opacity: 0.7;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 70 ")";
          filter: alpha(opacity=70);
          zoom: 1; }

.ajax-loading img {
  display: inline-block;
  margin-right: 7px;
  width: 16px; }

label.required:after {
  content: '*';
  color: red;
  display: inline-block;
  padding: 0 3px; }

.auto-save-wrap .auto-save {
  color: #666666;
  font-size: 12px;
  display: block;
  width: 195px; }
.auto-save-wrap.saving .auto-save:before {
  background: url(../Images/auto-save-loader.gif) no-repeat;
  content: " ";
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px; }

.save-progress {
  font-size: 12px;
  display: block; }
  .save-progress:before {
    background: url(../Images/auto-save-loader.gif) no-repeat;
    content: " ";
    height: 16px;
    width: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px; }

.qlikview-frame {
  margin: 0;
  padding: 0;
  border: none;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }

.service-detail .label {
  display: inline-block;
  width: 80px;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  color: inherit;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0; }

.home.index.retirement {
  background-color: #185789; }

@media only screen and (min-width: 1024px) {
  span.break {
    display: block; } }
.admin label {
  color: #002949; }
.admin a.add-new {
  font-size: 12px;
  display: inline-block;
  background-color: #ebebeb;
  padding: 3px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  cursor: pointer;
  position: relative;
  top: -3px; }
.admin .k-tabstrip.admin-tabstrip {
  box-shadow: none;
  border-left: none;
  border-bottom: none;
  border-right: none; }
  .admin .k-tabstrip.admin-tabstrip > .k-tabstrip-items {
    padding-left: 30px; }
  .admin .k-tabstrip.admin-tabstrip > .k-content {
    padding: 0; }
  .admin .k-tabstrip.admin-tabstrip.k-header {
    position: relative;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .admin .k-tabstrip.admin-tabstrip.k-header .program-toggle {
      position: absolute;
      right: 30px;
      top: 10px; }
      .admin .k-tabstrip.admin-tabstrip.k-header .program-toggle label {
        display: inline-block; }
      .admin .k-tabstrip.admin-tabstrip.k-header .program-toggle select {
        display: inline-block;
        width: auto;
        margin-left: 5px; }
.admin .k-splitter {
  border: none; }
  .admin .k-splitter > div {
    height: 100% !important;
    overflow: hidden; }
.admin .site-map-wrap header {
  padding: 30px 0 10px 30px;
  border-bottom: solid 1px #b4b3b3; }
  .admin .site-map-wrap header h4 {
    font-family: Arial, Verdana;
    font-size: 14px;
    color: #002949;
    margin-top: 35px;
    margin-bottom: 0; }
.admin .sitemap {
  margin-left: 10px;
  margin-top: 15px; }
  .admin .sitemap .k-sprite {
    background-image: url("../Images/coloricons-sprite.png"); }
  .admin .sitemap .folder {
    background-position: 0 0; }
  .admin .sitemap .root {
    background-position: 0 -16px; }
  .admin .sitemap .content {
    background-position: 0 -48px; }
  .admin .sitemap .static {
    background-position: 0 -80px; }
.admin .pages-grid-wrap header {
  padding: 10px 30px 10px 25px; }
  .admin .pages-grid-wrap header:after {
    content: "";
    display: table;
    clear: both; }
  .admin .pages-grid-wrap header h4 {
    float: left;
    margin: 0;
    position: relative;
    top: 4px; }
.admin .menu-icon {
  color: #00457c;
  font-size: 16px;
  width: 30px;
  display: inline-block; }
  .admin .menu-icon:before, .admin .menu-icon:after {
    font-size: 16px; }
  .admin .menu-icon.flaticon-peace:before, .admin .menu-icon.flaticon-peace:after {
    font-size: 14px; }
  .admin .menu-icon.flaticon-person:before, .admin .menu-icon.flaticon-person:after {
    font-size: 20px; }
.admin .search-box-wrap {
  float: right;
  position: relative; }
  .admin .search-box-wrap:after {
    display: inline-block;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000; }
  .admin .search-box-wrap input[type='text'] {
    display: inline-block;
    width: 300px;
    margin-bottom: 0; }
.admin .field {
  margin-bottom: 10px;
  font-size: 12px; }
  .admin .field:after {
    content: "";
    display: table;
    clear: both; }
  .admin .field label {
    margin-right: 20px;
    font-weight: bold; }
  .admin .field .k-numerictextbox .k-link {
    line-height: 18px; }
  .admin .field .radio-buttons {
    display: inline-block; }
    .admin .field .radio-buttons:after {
      content: "";
      display: table;
      clear: both; }
    .admin .field .radio-buttons .radio-button {
      float: left;
      min-width: 100px;
      position: relative;
      top: 3px; }
  .admin .field select,
  .admin .field textarea,
  .admin .field input[type="text"],
  .admin .field .k-numeric-wrap {
    display: inline-block;
    box-shadow: 0px 4px 0px 0px #ebebeb;
    margin-bottom: 0;
    font-size: inherit;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
  .admin .field input[type="text"].k-input {
    box-shadow: none;
    padding-left: 12px; }
  .admin .field input[type="radio"] {
    margin-right: 5px; }
  .admin .field textarea {
    resize: none;
    height: 60px; }
  .admin .field.inline label,
  .admin .field.inline select,
  .admin .field.inline textarea,
  .admin .field.inline input[type="text"],
  .admin .field.inline .k-numeric-wrap {
    display: inline-block;
    width: auto; }
.admin .revisions {
  margin-top: 20px; }
  .admin .revisions .panel-body {
    max-height: 210px;
    overflow-y: auto; }
  .admin .revisions table td {
    padding: 3px 0; }
.admin .new-content-wrap {
  padding: 0 30px; }
  .admin .new-content-wrap header {
    margin: 10px 0; }
    .admin .new-content-wrap header h4 {
      display: inline-block;
      padding-right: 10px; }
    .admin .new-content-wrap header .breadcrumb {
      display: inline-block;
      padding-right: 10px;
      font-family: "Source Sans Pro", sans-serif, Arial, Verdana;
      font-weight: 300; }
      .admin .new-content-wrap header .breadcrumb li {
        font-size: 24px; }
      .admin .new-content-wrap header .breadcrumb a {
        text-decoration: none; }
      .admin .new-content-wrap header .breadcrumb > li + li:before {
        position: relative;
        top: -3px; }
  .admin .new-content-wrap .editor {
    margin: 20px 0 10px 0; }
    .admin .new-content-wrap .editor .k-combobox .k-input {
      height: auto; }
  .admin .new-content-wrap table.k-editor {
    height: 400px; }
  .admin .new-content-wrap .fields-wrap {
    min-height: 290px; }
  .admin .new-content-wrap .title {
    margin-bottom: 20px; }
  .admin .new-content-wrap .published {
    margin: 20px 0 0; }
    .admin .new-content-wrap .published .fa {
      font-size: 14px; }
  .admin .new-content-wrap .preview {
    margin-top: 15px; }
  .admin .new-content-wrap .trash {
    position: relative;
    top: 8px;
    margin-left: 30px; }
    .admin .new-content-wrap .trash a {
      text-decoration: none;
      cursor: pointer;
      color: #666666;
      -webkit-transition: color 0.2s ease;
      -moz-transition: color 0.2s ease;
      transition: color 0.2s ease; }
      .admin .new-content-wrap .trash a:hover {
        color: #b4b3b3; }
      .admin .new-content-wrap .trash a:before {
        display: inline-block;
        font-family: FontAwesome !important;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f014";
        font-size: 18px;
        margin-right: 5px; }
  .admin .new-content-wrap .auto-save-wrap {
    width: 140px;
    margin: 20px auto 10px auto; }
    .admin .new-content-wrap .auto-save-wrap .auto-save {
      font-size: 14px;
      width: 140px; }
  .admin .new-content-wrap .permalink {
    font-size: 12px;
    color: #666;
    padding-left: 20px; }
    .admin .new-content-wrap .permalink a.edit {
      margin-left: 5px;
      font-size: 12px;
      display: inline-block;
      cursor: pointer; }
    .admin .new-content-wrap .permalink .edit-wrap {
      position: relative;
      top: -3px; }
      .admin .new-content-wrap .permalink .edit-wrap input[type='text'] {
        width: 300px;
        height: 26px;
        padding: 0;
        box-shadow: none;
        display: inline-block; }
      .admin .new-content-wrap .permalink .edit-wrap .btn {
        line-height: 26px;
        padding: 0 10px; }
      .admin .new-content-wrap .permalink .edit-wrap a {
        cursor: pointer; }
    .admin .new-content-wrap .permalink .btn-copy {
      margin-left: 10px; }
.admin table.revision {
  margin-bottom: 30px; }
  .admin table.revision tr td {
    padding: 10px 0;
    vertical-align: top; }
    .admin table.revision tr td:first-child {
      width: 200px;
      font-weight: bold; }
    .admin table.revision tr td .content-detail {
      max-height: 400px;
      overflow-y: auto; }
.admin .button-wrap {
  margin: 20px 0 5px 0; }
  .admin .button-wrap:after {
    content: "";
    display: table;
    clear: both; }
.admin .files-wrap {
  padding: 10px 30px; }
  .admin .files-wrap header {
    margin-bottom: 5px; }
    .admin .files-wrap header:after {
      content: "";
      display: table;
      clear: both; }
    .admin .files-wrap header h4 {
      display: inline-block;
      margin-right: 15px; }
    .admin .files-wrap header .btn {
      position: relative;
      top: -4px; }
.admin .btn-copy,
.admin .btn-trash {
  white-space: nowrap;
  color: #000;
  padding: 0 5px;
  background-color: #eeeeee;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  line-height: 18px;
  display: inline-block;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .admin .btn-copy .k-icon,
  .admin .btn-trash .k-icon {
    display: none; }
.admin .btn-copy:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e601"; }
.admin .btn-trash:before {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f014"; }
.admin .k-grid tbody .k-button {
  min-width: 0;
  width: 28px;
  line-height: 24px; }
.admin .k-grid tbody td > .k-grid-delete {
  margin-top: 0;
  margin-bottom: 0; }
.admin .tooltip {
  white-space: nowrap;
  z-index: 5000; }
.admin .file-details .field label {
  width: 85px; }
.admin .knowledge-library .field label {
  width: 70px; }
.admin .file-name {
  margin-top: 30px; }
  .admin .file-name span {
    font-weight: bold; }
.admin .file-preview {
  margin-top: 30px; }
  .admin .file-preview img {
    max-width: 400px;
    max-height: 400px; }
.admin .file-icon:before {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f016";
  font-size: 18px;
  padding-right: 5px;
  color: #666; }
.admin .file-icon-gif:before,
.admin .file-icon-jpg:before,
.admin .file-icon-tif:before,
.admin .file-icon-png:before,
.admin .file-icon-svg:before {
  content: "\f03e"; }
.admin .file-icon-mpeg:before,
.admin .file-icon-mp4:before {
  content: "\f008"; }

.content.admin {
  min-width: 1024px; }

.content.admin.index #main,
.content.admin.index .main-wrap,
.content.admin.files #main,
.content.admin.files .main-wrap,
.content.admin.pages #main,
.content.admin.pages .main-wrap,
.content.thirdparties.admin #main,
.content.thirdparties.admin .main-wrap {
  padding-bottom: 0; }

.survey-wrap {
  padding: 20px; }
  .survey-wrap .field textarea,
  .survey-wrap .field input[type='text'] {
    margin-bottom: 20px; }
  .survey-wrap .flex-text-wrap {
    margin-bottom: 20px; }
    .survey-wrap .flex-text-wrap textarea {
      border: 1px solid darkgray;
      height: 100%;
      padding: 6px 12px;
      min-height: 40px; }
  .survey-wrap .survey-page.k-content {
    position: static;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 20px;
    zoom: 1; }
  .survey-wrap .survey-page .scores .panel-heading {
    padding: 5px 10px; }
    .survey-wrap .survey-page .scores .panel-heading .title {
      padding-top: 8px; }
    .survey-wrap .survey-page .scores .panel-heading select {
      width: 150px;
      margin-bottom: 0; }
  .survey-wrap .survey-page .scores .add-new {
    top: 0; }

.breadcrumb {
  padding: 20px 0 10px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  display: none; }
  .breadcrumb li {
    font-size: 12px; }

.breadcrumb > li + li:before {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 7px;
  color: #cccccc;
  content: "\f054";
  font-size: 10px; }

@media only screen and (min-width: 720px) {
  .breadcrumb {
    display: block; } }
@media only screen and (min-width: 1024px) {
  .breadcrumb li {
    font-size: 14px; } }
.btn {
  text-decoration: none;
  font-family: Arial, Verdana;
  font-size: 14px;
  line-height: 32px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  color: white;
  padding: 0 15px; }
  .btn.btn-lg {
    font-size: 18px;
    line-height: 36px; }
  .btn.btn-md {
    font-size: 18px;
    line-height: 36px; }
  .btn:hover, .btn:focus {
    color: white; }
  .btn.btn-mobile {
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px; }
    .btn.btn-mobile i {
      display: block;
      font-size: 18px; }

.btn-primary {
  background-color: #0077b8;
  border-color: #0077b8; }
  .btn-primary:hover {
    background-color: #4ca0ce;
    border-color: #4ca0ce; }

.btn-secondary {
  background-color: #05858f;
  border-color: #05858f; }
  .btn-secondary:hover {
    background-color: #50a9b1;
    border-color: #50a9b1; }

.btn-icon:after {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  margin-top: 10px; }

.btn-icon-left:before {
  display: inline-block;
  font-family: FontAwesome !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  margin-top: 10px; }

.btn-assessment:after {
  content: "\f046"; }
.btn-assessment:hover {
  background-color: #005d9c;
  border-color: #005d9c; }

.btn-go:after {
  content: "\f054";
  font-size: 14px; }

.btn-resources {
  background-color: #f3f9fd;
  border-color: #b2d6ea;
  color: #0077b8; }
  .btn-resources:after {
    content: "\f0c6"; }
  .btn-resources:hover {
    background-color: #f3f9fd;
    border-color: #b2d6ea;
    color: #0077b8;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 80 ")";
    filter: alpha(opacity=80);
    zoom: 1; }

.btn-save:before {
  content: "\f0c7"; }

.btn-previous:before {
  content: "\f100"; }

.btn-next:after {
  content: "\f101"; }

.btn-add:before {
  content: "\f055"; }

.btn-upload:before {
  content: "\f093"; }

.btn-edit:before {
  content: "\f044"; }

.btn-restore:before {
  content: "\f045"; }

.btn-preview:before {
  content: "\f002"; }

.btn-icon-left.btn-done:before {
  content: "\f00c"; }

.btn-sidebar {
  font-size: 16px;
  line-height: 40px;
  padding: 0 16px;
  margin-top: 5px;
  width: 100%;
  text-align: left;
  position: relative; }
  .btn-sidebar:after {
    position: absolute;
    right: 10px; }

@media only screen and (min-width: 480px) {
  .btn.btn-lg {
    font-size: 24px;
    line-height: 45px; }
  .btn.btn-md {
    font-size: 18px;
    line-height: 36px; } }
@media only screen and (min-width: 1024px) {
  .btn-sidebar {
    font-size: 20px;
    line-height: 40px; } }
.content-description {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 35px; }
  .content-description h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Arial, Verdana;
    font-size: 18px;
    font-weight: bold; }

.content-body p {
  margin-bottom: 20px; }
.content-body img {
  margin-bottom: 10px; }
.content-body ul {
  list-style-type: square;
  margin-bottom: 15px; }
  .content-body ul li {
    margin-top: 5px; }
    .content-body ul li ul {
      margin-bottom: 10px; }
.content-body a.disabled {
  text-decoration: none;
  color: #666; }

.suggested-reading {
  margin-top: 10px;
  margin-bottom: 30px; }
  .suggested-reading:after {
    content: "";
    display: table;
    clear: both; }
  .suggested-reading .image {
    margin-bottom: 20px; }
  .suggested-reading .info h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .suggested-reading .info .author {
    margin-bottom: 5px; }
  .suggested-reading .info .published {
    color: #888;
    margin-bottom: 10px; }

.suggested-reading + hr {
  margin: 0; }

#footer {
  background-color: white;
  border-top: solid 1px #b4b4b4;
  padding-top: 15px; }
  #footer .footer-nav-wrap {
    margin-bottom: 7px;
    display: none; }
    #footer .footer-nav-wrap ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      #footer .footer-nav-wrap ul:after {
        content: "";
        display: table;
        clear: both; }
      #footer .footer-nav-wrap ul li {
        float: left; }
      #footer .footer-nav-wrap ul li {
        float: left; }
        #footer .footer-nav-wrap ul li a {
          font-size: 12px; }
        #footer .footer-nav-wrap ul li:before {
          content: "|";
          margin: 0 7px; }
        #footer .footer-nav-wrap ul li:first-child:before {
          content: "";
          margin: 0; }
  #footer .footer-logo-wrap {
    margin: 10px 0; }
    #footer .footer-logo-wrap img {
      width: 127px;
      height: 34px; }
    #footer .footer-logo-wrap.pentameter-logo img {
      width: 205px;
      height: 38px; }
    #footer .footer-logo-wrap.grs-logo img {
      width: 150px;
      height: 49px; }
  #footer .footer-copyright {
    color: #002949;
    font-size: 10px; }

.retirement-footer {
  padding-top: 30px;
  color: white; }
  .retirement-footer h4, .retirement-footer p {
    color: inherit; }
  .retirement-footer a {
    color: #9ac6d7; }
  .retirement-footer .link:before,
  .retirement-footer .external-link:before {
    display: inline-block;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    font-size: 18px; }
  .retirement-footer .link:before {
    content: "\f0c1"; }
  .retirement-footer .external-link:before {
    content: "\f08e"; }
  .retirement-footer .content-list {
    color: white;
    margin-top: 0; }

.page-content-footer {
  border-top: 1px solid #eeeeee;
  margin-top: 30px; }
  .page-content-footer .recommended-content {
    padding-top: 20px; }
    .page-content-footer .recommended-content h3 {
      margin-top: 0;
      margin-bottom: 10px; }
    .page-content-footer .recommended-content ul li {
      margin-bottom: 5px; }

@media only screen and (min-width: 560px) {
  #footer {
    padding-top: 32px; }
    #footer .footer-nav-wrap {
      float: left;
      display: block; }
    #footer .footer-logo-wrap {
      margin: 0;
      float: right; }
    #footer .footer-copyright {
      font-size: 12px; } }
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid darkgray;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  select::-ms-clear,
  textarea::-ms-clear,
  input[type="text"]::-ms-clear,
  input[type="password"]::-ms-clear,
  input[type="datetime"]::-ms-clear,
  input[type="datetime-local"]::-ms-clear,
  input[type="date"]::-ms-clear,
  input[type="month"]::-ms-clear,
  input[type="time"]::-ms-clear,
  input[type="week"]::-ms-clear,
  input[type="number"]::-ms-clear,
  input[type="email"]::-ms-clear,
  input[type="url"]::-ms-clear,
  input[type="search"]::-ms-clear,
  input[type="tel"]::-ms-clear,
  input[type="color"]::-ms-clear {
    display: none; }

label {
  font-weight: normal; }

.form-inline select,
.form-inline textarea,
.form-inline input[type="text"],
.form-inline input[type="password"],
.form-inline input[type="datetime"],
.form-inline input[type="datetime-local"],
.form-inline input[type="date"],
.form-inline input[type="month"],
.form-inline input[type="time"],
.form-inline input[type="week"],
.form-inline input[type="number"],
.form-inline input[type="email"],
.form-inline input[type="url"],
.form-inline input[type="search"],
.form-inline input[type="tel"],
.form-inline input[type="color"] {
  display: inline-block;
  width: auto; }

.edit-form {
  margin-bottom: 15px; }
  .edit-form label {
    margin: 5px 0; }

#header {
  background-color: #00457c;
  font-family: Arial, Verdana;
  height: 49px; }
  #header > .container {
    position: relative;
    height: 100%; }
  #header .logo-wrap {
    float: right;
    margin: 14px 0; }
    #header .logo-wrap img {
      height: 20px;
      width: 75px; }
    #header .logo-wrap.grs-logo {
      margin: 8px 0; }
      #header .logo-wrap.grs-logo img {
        height: 30px;
        width: 93px; }
    #header .logo-wrap.pentameter-logo img {
      height: 17px;
      width: 90px; }
    #header .logo-wrap .area-title {
      color: #9ac6d7;
      display: block;
      margin-top: 5px;
      margin-left: 20px; }
    #header .logo-wrap.slim {
      margin: 20px 0; }
  #header .nav-wrap {
    display: none;
    float: right;
    position: relative; }
    #header .nav-wrap:after {
      content: "";
      display: table;
      clear: both; }
    #header .nav-wrap .menu-wrap {
      float: right;
      margin-right: 30px; }
      #header .nav-wrap .menu-wrap .dropdown-toggle {
        color: white;
        line-height: 45px;
        font-size: 18px;
        display: block;
        padding: 1px 15px;
        border: solid 1px transparent;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-top: -1px;
        text-decoration: none; }
        #header .nav-wrap .menu-wrap .dropdown-toggle:hover, #header .nav-wrap .menu-wrap .dropdown-toggle:focus {
          text-decoration: none; }
        #header .nav-wrap .menu-wrap .dropdown-toggle:hover {
          color: #7ba2bd; }
        #header .nav-wrap .menu-wrap .dropdown-toggle i {
          color: #0077b8;
          font-size: .8em; }
      #header .nav-wrap .menu-wrap .dropdown-menu {
        padding: 0;
        border: solid 1px #264964;
        margin: 0; }
        #header .nav-wrap .menu-wrap .dropdown-menu > li {
          background-color: #002949;
          border-bottom: solid 1px #264964;
          padding: 3px 0; }
          #header .nav-wrap .menu-wrap .dropdown-menu > li:hover {
            background-color: #002039; }
          #header .nav-wrap .menu-wrap .dropdown-menu > li:first-child {
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px; }
          #header .nav-wrap .menu-wrap .dropdown-menu > li:last-child {
            border-bottom: none; }
          #header .nav-wrap .menu-wrap .dropdown-menu > li.disabled i, #header .nav-wrap .menu-wrap .dropdown-menu > li.disabled a {
            opacity: 0.5;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
            filter: alpha(opacity=50);
            zoom: 1; }
          #header .nav-wrap .menu-wrap .dropdown-menu > li i {
            color: #0077b8;
            margin-left: 12px;
            font-size: 18px;
            width: 32px;
            display: inline-block; }
            #header .nav-wrap .menu-wrap .dropdown-menu > li i.c2c {
              background: url("../Images/c2c-icon.png") no-repeat;
              min-height: 17px;
              position: relative;
              top: 3px; }
          #header .nav-wrap .menu-wrap .dropdown-menu > li a {
            display: inline-block;
            padding: 3px 20px 3px 0;
            clear: both;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857;
            color: white;
            white-space: nowrap;
            text-decoration: none; }
            #header .nav-wrap .menu-wrap .dropdown-menu > li a:hover, #header .nav-wrap .menu-wrap .dropdown-menu > li a:focus {
              color: white;
              background-color: transparent;
              outline: 0; }
      #header .nav-wrap .menu-wrap.open .dropdown-toggle {
        background-color: #002949;
        border: solid 1px #264964;
        border-bottom: none; }
    #header .nav-wrap .search-wrap {
      float: right; }
    #header .nav-wrap .top-nav-wrap {
      margin-bottom: 13px; }
      #header .nav-wrap .top-nav-wrap:after {
        content: "";
        display: table;
        clear: both; }
      #header .nav-wrap .top-nav-wrap ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #195789;
        display: inline-block;
        float: right;
        padding: 0 5px; }
        #header .nav-wrap .top-nav-wrap ul:after {
          content: "";
          display: table;
          clear: both; }
        #header .nav-wrap .top-nav-wrap ul li {
          float: left; }
        #header .nav-wrap .top-nav-wrap ul li {
          padding: 0 7px; }
          #header .nav-wrap .top-nav-wrap ul li a {
            display: inline-block;
            font-family: inherit;
            font-size: 12px;
            line-height: 20px;
            text-decoration: none;
            color: white;
            -webkit-transition: color 0.2s ease;
            -moz-transition: color 0.2s ease;
            transition: color 0.2s ease; }
            #header .nav-wrap .top-nav-wrap ul li a:hover {
              color: #a3c3dd; }
            #header .nav-wrap .top-nav-wrap ul li a i {
              padding-left: 5px;
              color: #9ac6d7; }
  #header .search-form {
    min-width: 300px; }
    #header .search-form:after {
      content: "";
      display: table;
      clear: both; }
    #header .search-form .input-wrap {
      float: left;
      background-color: white;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      height: 45px;
      width: 230px; }
      #header .search-form .input-wrap input[type='text'] {
        border: none;
        padding: 5px 8px;
        margin: 5px 0 0;
        color: #002949;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 16px; }
        #header .search-form .input-wrap input[type='text']:-moz-placeholder {
          color: #b4b3b3; }
        #header .search-form .input-wrap input[type='text']::-moz-placeholder {
          color: #b4b3b3; }
        #header .search-form .input-wrap input[type='text']:-ms-input-placeholder {
          color: #b4b3b3; }
        #header .search-form .input-wrap input[type='text']::-webkit-input-placeholder {
          color: #b4b3b3; }
        #header .search-form .input-wrap input[type='text']:focus {
          outline: 0; }
    #header .search-form .dropdown-toggle {
      float: left;
      background-color: white;
      height: 45px;
      width: 20px;
      padding-top: 13px;
      text-decoration: none; }
      #header .search-form .dropdown-toggle:before {
        display: inline-block;
        font-family: FontAwesome !important;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        content: "\f0d7"; }
    #header .search-form .dropdown-menu {
      border: 1px solid #ebebeb;
      background-color: white;
      padding-top: 0;
      padding-bottom: 0;
      width: 250px;
      left: 159px;
      top: 70px; }
      #header .search-form .dropdown-menu > li {
        color: #002949;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        text-indent: 10px;
        border-bottom: solid 1px #ebebeb; }
        #header .search-form .dropdown-menu > li:hover {
          background-color: #f3f9fd;
          cursor: hand;
          cursor: pointer; }
        #header .search-form .dropdown-menu > li:last-child {
          border-bottom: none; }
    #header .search-form .submit-wrap {
      float: left;
      background-color: #0077b8;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      width: 50px;
      height: 45px;
      text-align: center; }
      #header .search-form .submit-wrap:hover {
        background-color: #005d9c; }
      #header .search-form .submit-wrap button {
        color: white;
        border: none;
        background: transparent;
        font-size: 36px;
        line-height: 42px;
        outline: 0;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }

@media only screen and (min-width: 720px) {
  #header {
    min-height: 112px; }
    #header .logo-wrap {
      float: left;
      margin: 33px 0; }
      #header .logo-wrap img {
        height: 46px;
        width: 174px; }
      #header .logo-wrap.pentameter-logo img {
        height: 42px;
        width: 225px; }
      #header .logo-wrap.grs-logo {
        margin: 25px 0; }
        #header .logo-wrap.grs-logo img {
          height: 61px;
          width: 190px; }
    #header .nav-wrap {
      display: block; } }
.content-list {
  list-style-type: square;
  padding-left: 18px;
  color: #00457c;
  margin: 0; }
  .content-list li {
    margin-bottom: 5px; }

.modal-body {
  font-size: 16px;
  line-height: 22px; }
  .modal-body p {
    margin-bottom: 20px; }

.modal-title {
  font-family: Arial, Verdana; }

.retirement-survey-modal,
.business-valuation-terms-modal {
  text-align: center; }
  .retirement-survey-modal h3,
  .business-valuation-terms-modal h3 {
    color: #0077b8;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px; }
  .retirement-survey-modal h2,
  .business-valuation-terms-modal h2 {
    color: #00457c;
    margin-top: 5px;
    font-weight: 400;
    font-size: 28px; }
  .retirement-survey-modal p,
  .business-valuation-terms-modal p {
    color: #999999;
    font-size: 16px; }
    .retirement-survey-modal p.back,
    .business-valuation-terms-modal p.back {
      font-size: 14px; }
  .retirement-survey-modal .btn,
  .business-valuation-terms-modal .btn {
    margin-top: 10px; }

@media only screen and (min-width: 480px) {
  .retirement-survey-modal h3,
  .business-valuation-terms-modal h3 {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 28px; }
  .retirement-survey-modal h2,
  .business-valuation-terms-modal h2 {
    margin-top: 5px;
    font-size: 34px; }
  .retirement-survey-modal .btn,
  .business-valuation-terms-modal .btn {
    margin-top: 20px; } }
/*
	Side Menu
*/
.sidemenu {
  margin-bottom: 30px; }

.panel-title a {
  text-decoration: none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }
  .panel-title a:hover {
    color: inherit; }

.page-info-panel {
  margin-bottom: 15px; }
  .page-info-panel .breadcrumb {
    margin-bottom: 0; }
  .page-info-panel h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px; }
  .page-info-panel h3 {
    margin-bottom: 20px; }

@media only screen and (min-width: 1024px) {
  .page-info-panel {
    margin-bottom: 15px; }
    .page-info-panel h1 {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 44px; } }
.panel.panel-default {
  border-color: #b4b3b3;
  box-shadow: 0px 4px 0px 0px #ebebeb; }
  .panel.panel-default > .panel-heading {
    color: #666666;
    background-color: #ebebeb;
    border-color: #b4b3b3;
    font-family: Arial, Verdana; }
  .panel.panel-default .panel-body {
    color: #113755; }

.panel-textbox {
  margin-bottom: 25px; }
  .panel-textbox .panel-body {
    padding: 5px 15px; }
  .panel-textbox textarea {
    border: solid 1px transparent;
    resize: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
    color: #113755;
    min-height: 70px; }
    .panel-textbox textarea:focus {
      border-color: transparent;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }

.pill-tabs.k-tabstrip {
  box-shadow: none; }
  .pill-tabs.k-tabstrip .k-tabstrip-items {
    padding-top: 0;
    margin-bottom: 20px;
    list-style-type: none; }
    .pill-tabs.k-tabstrip .k-tabstrip-items .k-item {
      border: none;
      border-top-style: none;
      border-top-width: 0;
      border-top-color: #fff;
      margin-right: 12px; }
      .pill-tabs.k-tabstrip .k-tabstrip-items .k-item .k-link {
        background-color: #ACCBDB;
        color: white;
        padding: 6px 12px;
        border-top: none;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px; }
      .pill-tabs.k-tabstrip .k-tabstrip-items .k-item.k-state-active {
        border-top-style: none;
        border-top-width: 0;
        border-top-color: #fff; }
        .pill-tabs.k-tabstrip .k-tabstrip-items .k-item.k-state-active .k-link {
          background-color: #0077b8;
          color: white; }
  .pill-tabs.k-tabstrip.k-tabstrip.k-header {
    background-color: transparent;
    border: none; }
  .pill-tabs.k-tabstrip .k-content.k-state-active {
    border-top: none; }

