@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../Fonts/source-sans-pro/light.eot);
  src: local('Source Sans Pro Light'), 
       local('SourceSansPro-Light'), 
       url(../Fonts/source-sans-pro/light.eot) format('embedded-opentype'), 
       url(../Fonts/source-sans-pro/light.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../Fonts/source-sans-pro/regular.eot);
  src: local('Source Sans Pro'), 
       local('SourceSansPro-Regular'), 
       local('Source Sans Pro Regular'), 
       url(../Fonts/source-sans-pro/regular.eot) format('embedded-opentype'), 
       url(../Fonts/source-sans-pro/regular.woff) format('woff');
}