
.planning {
	
}

.planning-nav-score-wrap {
	margin-bottom: 32px;
}



.planning-nav-wrap {
	border-right: solid 2px #e2e2e2;
	padding: 10px 0;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		@include clearfix();

		li {
			float: left;
			display: block;
			width: 20%;
			text-align: center;
			position: relative;
			min-height: 160px;

			&:before,
			&:after {
				position: absolute;
				background-color: #e2e2e2;
				top: 50%;
				margin-top: -50px;
				width: 50%;
				height: 12px;
				content: '';
				z-index: 5;
				background-size: 12px 12px;
				background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
									transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
									transparent 75%, transparent);  
			}

			&:before { left: 0; }
			&:after  { right: 0; }

			&:first-child:before { display: none; }
			&:last-child:after { display: none; }

			&.complete:after {
				background-color: #90e258;
			}

			&.complete + li:before {
				background-color: #90e258;
			}

			a {
				text-decoration: none;
			}

			.circle {
				border-radius: 50%;
				width: 70px;
				height: 70px; 
				border: solid 3px #e2e2e2;
				background-color: #f5f5f5;
				text-align: center;
				vertical-align: middle;
				color: #e2e2e2;	
				margin: 0 auto;	
				position: relative;
				z-index: 10;
					
				.number {
					font-family: $source-sans-pro;
					font-size: 38px;
					font-weight: 600;
					color: #e2e2e2;
					line-height: 60px;
				}				
			}

			.name {
				color: #e2e2e2;
				font-family: $source-sans-pro;
				font-size: 16px;
				line-height: 18px;
				font-weight: 400;
				display: block;
				margin-top: 10px;
			}

			&.enabled {

				a {
					cursor: pointer;
				}

				.circle {
					background-color: #00457c;
						
					.number { color: #fff; }
				}

				.name {	color: #00457c;	}
			}

			&.active {
				.circle {
					border-color: #007cdf;
					background-color: #007cdf;

					.number { color: #fff; }
				}

				.name { color: #007cdf;	}
			}
		}
	}
}

.planning-score-wrap {
	text-align: center;

	.score,
	.score-label {
		display: block;
		color: #5ec915;
		font-family: $source-sans-pro;
		font-weight: 300;
	}

	.score {
		font-size: 48px;
		margin-top: 35px;
	}

	.score-label {
		font-size: 22px;
		margin-top: 18px;
	}
}

@media only screen and (min-width: 995px) {
	.planning-nav-wrap ul li {
		min-height: 120px;

		&:before,
		&:after {
			margin-top: -31px;
		}
	}

	.planning-score-wrap {
		.score {
			font-size: 70px;
		}

		.score-label {
			font-size: 32px;
			margin-top: 30px;
		}
	}
}


.phase-container {
	border: solid 1px #c9c9c9;
	border-radius: 16px;
}

.planning-phase {

	td {
		vertical-align: top;
		padding: 0;
		
		&.border-right {
			border-right: solid 1px #c9c9c9;
		}
	}
}

.planning-steps-nav {	
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-bottom: 30px;	

	li {
		background-color: #f5f5f5;
		padding: 35px 18px 25px 18px;		
		border-bottom: solid 1px #c9c9c9;
		cursor: pointer;
		position: relative;

		&:first-child {
			border-top-left-radius: 16px;
		}

		&.active {
			background-color: #e1f1fe;

			.step-name {
				color: #007cdf;
			}

			.step-triangle {
				display: block;
			}
		}

		&.complete .step-status {
			visibility: visible;
			background-position: -2px -1px;
		}
	}

	.step-number {
		font: 600 22px/30px $source-sans-pro;
		color: #000;
		display: block;
	}

	.step-name {
		font: 300 22px/30px $source-sans-pro;
		color: #656565;
		display: block;
		margin-bottom: 20px;
	}

	.step-status {
		display: block;
		visibility: hidden;
		background: url(../Images/planning-sprite.png) no-repeat;
		background-position: -2px -1px;
		height: 28px;
		text-indent: 35px;
		font: 300 12px $source-sans-pro;
		text-transform: uppercase;
		color: #00457c;
		padding-top: 7px;
	}

	.step-triangle {
		background: url(../Images/planning-sprite.png) no-repeat;
		background-position: -2px -128px;
		height: 28px;
		width: 14px;
		position: absolute;
		right: -1px;
		top: 37px;
		display: none;
	}
}

.planning-step {
	padding: 30px;
	
	header {
		
		.name {
			font: 300 28px/42px $source-sans-pro;
			color: #007cdf;
			margin: 0 0 5px 0;			
		}

		.description {
			color: #000;
			font: 400 16px/22px $source-sans-pro;
			margin-bottom: 40px;
		}
	}

	footer {
		.step-notes {
			border: solid 1px #c9c9c9;
			background-color: #f5f5f5;
			padding: 12px 12px 20px 12px;
			margin-bottom: 40px;

			textarea {
				height: 75px;
				resize: none;
				border: none;
				margin: 0;
			}

			&>span {
				font: 300 20px $source-sans-pro;
				display: block;
				margin-bottom: 10px;

				&:before {
					@include font-awesome();
					content: "\f0f6";
					color: #007cdf;
					margin-right: 10px;
				}
			}
		}

		.button-wrap {
			@include clearfix();

			.auto-save-wrap .auto-save {
				width: 130px;
				margin-left: 10px;
				margin-top: 5px;
			}
		}
		
	}

	.strong {
		font: 600 18px $source-sans-pro;
		display: block;
		margin-bottom: 30px;
	}

	.action-items {
		margin-left: 5px;

		td {
			padding: 0;
			padding-bottom: 45px;
			vertical-align: top;
			font: 400 20px/24px $source-sans-pro;
			color: #2a2a2a;

			.resources {
				font-size: 16px;
				display: block;		
				margin-top: 15px;
				
				.k-editor-inline {
					border: solid 2px #fff;

					&:hover {
						border: dotted 2px #c9c9c9;
					}

					&.k-state-active {
						background-color: #ffffff;
						border-style: dotted;
						border-color: $fasi-light-blue;
						color: #000;
					}
				}
				
				ul,ol {
					margin: 10px 0;
					padding: 0 0 0 30px;

					li {
						margin-bottom: 5px;
					}
				}						
			}

			&.complete {
				@include opacity(.7);
			}
		}
		
		.checkbox {
			background: url(../Images/planning-sprite.png) no-repeat;
			background-position: -2px -90px;
			height: 27px;
			width: 30px;
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;

			&.checked {
				background-position: -2px -46px;
			}
		}
	}
}