USE [Innova]
GO

DECLARE @Files TABLE ( FileID INT )

INSERT INTO @Files (FileID) SELECT FileID FROM dbo.AffiliateLogo

-- Clear Logos
DELETE FROM dbo.AffiliateLogo
DELETE FROM dbo.[FileInfo] WHERE FileID IN ( SELECT FileID FROM @Files )
DELETE FROM dbo.[File] WHERE FileID IN ( SELECT FileID FROM @Files )
GO

DECLARE @fileId INT


SET @fileId = Scope_Identity()
INSERT [dbo].[FileInfo] ([FileID], [Name], [Extension], [SizeBytes], [CreateUserID], [CreateDate]) VALUES (@fileId, N'cetera-advisor-networks-tile.png', N'png', 13726, 1356, CAST(0x0000A42200FDADCA AS DateTime))
INSERT [dbo].[AffiliateLogo] ([AffiliateID], [AffiliateLogoTypeID], [FileID], [CreateUserID], [CreateDate], [CreateDateUTC], [ModifyUserID], [ModifyDate], [ModifyDateUTC]) VALUES (3, 1, @fileId, 0, CAST(0x0000A42200FDADCA AS DateTime), CAST(0x0000A422018183CA AS DateTime), 0, CAST(0x0000A42200FDADCA AS DateTime), CAST(0x0000A422018183CA AS DateTime))

SET @fileId = Scope_Identity()
INSERT [dbo].[FileInfo] ([FileID], [Name], [Extension], [SizeBytes], [CreateUserID], [CreateDate]) VALUES (@fileId, N'cetera-advisor-networks-pdf-header.png', N'png', 13726, 1356, CAST(0x0000A42200FDB17C AS DateTime))
INSERT [dbo].[AffiliateLogo] ([AffiliateID], [AffiliateLogoTypeID], [FileID], [CreateUserID], [CreateDate], [CreateDateUTC], [ModifyUserID], [ModifyDate], [ModifyDateUTC]) VALUES (3, 2, @fileId, 0, CAST(0x0000A42200FDB17C AS DateTime), CAST(0x0000A4220181877C AS DateTime), 0, CAST(0x0000A42200FDB17C AS DateTime), CAST(0x0000A4220181877C AS DateTime))

SET @fileId = Scope_Identity()
INSERT [dbo].[FileInfo] ([FileID], [Name], [Extension], [SizeBytes], [CreateUserID], [CreateDate]) VALUES (@fileId, N'cetera-advisor-networks-pdf-cover-sheet.png', N'png', 13726, 1356, CAST(0x0000A42200FDB47C AS DateTime))
INSERT [dbo].[AffiliateLogo] ([AffiliateID], [AffiliateLogoTypeID], [FileID], [CreateUserID], [CreateDate], [CreateDateUTC], [ModifyUserID], [ModifyDate], [ModifyDateUTC]) VALUES (3, 3, @fileId, 0, CAST(0x0000A42200FDB47C AS DateTime), CAST(0x0000A42201818A7C AS DateTime), 0, CAST(0x0000A42200FDB47C AS DateTime), CAST(0x0000A42201818A7C AS DateTime))

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()

SET @fileId = Scope_Identity()
GO