<p>
    Cetera Financial Group is the retail advice platform of RCS Capital Corporation (NYSE: RCAP). It is comprised of nine firms – four legacy Cetera-branded
    firms (Cetera Advisors, Cetera Advisor Networks, Cetera Investment Services, marketed as Cetera Financial Institutions, and Cetera Financial Specialists)
    along with First Allied Securities, Investors Capital, J.P. Turner and Company, The Legend Group and Summit Brokerage.
</p>
<p>
    Through those firms, Cetera Financial Group offers the stability of a large and well-capitalized broker-dealer and registered investment adviser,
    while serving independent and institutions-based financial advisors in a way that is customized to their individual needs. Cetera Financial Group is
    committed to helping advisors grow their businesses and strengthen their relationships with their investor clients. All of Cetera Financial Group's
    broker-dealer firms are members of FINRA/SIPC. For more information, visit <a href="http://www.ceterafinancialgroup.com">ceterafinancialgroup.com</a>.
</p>
<p>
    While Cetera Financial Group and their personnel may, through this site, and by other means provide programs, calculations, advice, information, materials
    and other services (collectively, the "Services") and facilitate and allow business transfers, combinations and other transactions,
    Cetera Financial Group (including its attorneys and accountants), is not acting as attorneys or accountants on behalf of or for the benefit of any
    party to such a transaction or recipient of the Services ("Users"). Cetera Financial Group DOES NOT PROVIDE LEGAL, ACCOUNTING OR TAX ADVICE, AND MAY NOT
    BE RELIED UPON THEREFORE. Cetera Financial Group strongly recommends that Users seek their own professional advice with respect to each transaction,
    including valuation, structure, compliance, law and taxes.
</p>
<p>
    Cetera Financial Group does not represent any User or any party to a business transaction, and Cetera Financial Group expresses no opinion as to the
    enforceability or adequacy of the contracts and other documentation, or the advisability of the transaction as it will be consummated, including the
    adequacy or appropriateness of the pricing and valuation of any transaction. Parties utilizing the Services, do so at their own risk without
    representations or warranties from Cetera Financial Group, and Users remain responsible for their own compliance with the securities laws, rules and
    regulations notwithstanding any information presented by Cetera Financial Group.
</p>
<p>
    THE SERVICES ARE PRESENTED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
    OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  THE ENTIRE RISK AS TO THE ADEQUECY, COMPLETENESS AND ACCURACY OF THE SERVICES LIES WITH USERS
    TO THE FULLEST EXTENT PERMITTED BY LAW. SHOULD THE SERVICES PROVE DEFECTIVE, USERS ASSUME THE COST OF ALL NECESSARY DAMAGES, REPAIR OR CORRECTION.
</p>
<p>
    IN NO EVENT, UNLESS REQUIRED BY APPLICABLE LAW, WILL Cetera Financial Group BE LIABLE TO USERS FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR
    CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE, OR INABILITY TO USE, THE SERVICES (INCLUDING, BUT NOT LIMITED TO, LOSS OF DATA OR DATA BEING RENDERED
    INACCURATE, OR LOSSES SUSTAINED BY USERS OR THIRD PARTIES), EVEN IF Cetera Financial Group HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    The Materials are intended for use only by U.S. residents that are affiliated by registration, licensure or otherwise with Cetera Financial Group or
    one of its affiliates. Certain Services may not be available in certain jurisdictions and are void where prohibited by law. Many, but not all, of the
    Services are offered free of charge.
</p>
<p>
    By using this site or any of the Services, you signify your assent to, and acceptance of, the above and of the Terms of Use. If you do not agree with
    any part of the Terms of Use set forth, you must not use this site or the Services.
</p>