<div class="pentameter-logo-wrap">
    <img src="@Url.StaticContent("~/Assets/Images/pentameter-logo-large.png")" alt="Pentameter" />
</div>
<p>
    <strong class="blue">Pentameter&trade;</strong> is organized around the central tenet that independent advisors need 
    to think and act like CEOs in order to make <strong>objective, strategic decisions</strong> about the key elements of their business. 
    This site will help you gauge your acumen in each Measure of practice management, build a business plan to reach your 
    goals, and implement tools and strategies to make your business as effective and profitable as possible. 
</p>