<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="server=dcolsql00;database=Innova;Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=Portal.Web" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />

    <!-- Application Specific Settings -->
    <add key="app:EvoPdf.LicenseKey" value="z0FSQFNTQFJRUUBVTlBAU1FOUVJOWVlZWQ==" />
    <add key="app:PdfBaseUrl" value="https://localhost:44303/" />
    <add key="app:Qlikview.TestUserID" value="" />
    <add key="app:CompressionModule.Enabled" value="false" />
    <add key="app:CookieSliderModule.Enabled" value="true" />
    <add key="app:AdvisorView.Cookie.Timeout.Minutes" value="60" />
    <add key="app:Search.ValidDocumentTypes" value="html,doc,docx,xls,xlsx,pdf,ppt,pptx" />
    <add key="app:StaticAssets.RootUrl" value="" />
    <add key="app:AdminConsole.Url" value="http://localhost:50970/" />
    <add key="app:UserProfileSchema" value="dbo" />
    <add key="app:Configuration.Environment" value="Development" />
    <add key="app:EnableServices" value="false" />
    <add key="app:GoJsScriptPath" value="~/Assets/Vendor/go-guideportcfg-1.4.19.min.js"/>
    
    <!-- Email Settings -->
    <add key="app:Email.System" value="mailer@guideportcfg.com" />
    <add key="app:Email.Recipients.To.Override" value="dedquilang@firstallied.com" />
    <add key="app:Email.Recipients.Cc" value="" />
    <add key="app:Email.Recipients.Bcc" value="" />

    <add key="app:KeepAlive.Interval.Seconds" value="300" />

    <!-- Auto-save Settings (used by Business Plan and Surveys) -->
    <add key="app:AutoSave.Interval.Seconds" value="10000" />

    <!-- Session Monitor Settings (used by Business Plan and Surveys) -->
    <add key="app:SessionMonitor.WarningTimeout.Seconds" value="1200" />
    <add key="app:SessionMonitor.ExpirationTimeout.Seconds" value="1500" />

    <!-- Survey Names -->
    <add key="Pentameter.SurveyName" value="Business Assessment" />
    <add key="Retirement.SurveyName" value="Guided Retirement Solutions Assessment" />
    <add key="Enrollment.SurveyName" value="Enrollment" />
    <add key="QualifiedBuyer.SurveyName" value="Qualified Buyer Program" />

    <!-- This is the root/base/default portal name-->
    <add key="Root.SiteName" value="Guideport" />

    <!-- These keys are used to map the physical MVC Areas to their Site Names in the dB  -->
    <add key="Area.Retirement.SiteName" value="Guided Retirement Solutions" />
    <add key="Area.Pentameter.SiteName" value="Pentameter" />
    <add key="Pentameter.BusinessPlan.Objectives.Max" value="5" />

    <!-- Saml Configuration -->
    <add key="Saml.Configuration.FileLocation" value="saml/saml.config" /> <!-- Initializes Saml Configuration, settings can be overriden by the configuration service -->
    <add key="Saml.Configuration.CacheDuration.Seconds" value="1800" /> <!-- Determines how often we refresh the configuration from the configuration service -->
    <add key="Saml.LoginFailurePage" value="~/Saml/Test" /> <!-- Relative Url that failed logins are redirected to -->
    
    <!-- Cookie Names -->
    <add key="Cookie.CurrentUserData.Name" value="portal.user.dev"/>
    <add key="Cookie.AssistedUserData.Name" value="portal.assisteduser.dev"/>
  
  </appSettings>
  <location path="bundles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Assets">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/saml/login" defaultUrl="~/" timeout="120" cookieless="UseCookies" slidingExpiration="true" name="portal.auth.dev" requireSSL="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/Unauthorized" statusCode="401" />
    </customErrors>
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5" maxRequestLength="2147483647" enableVersionHeader="false" />
    <machineKey
      validationKey="86EDBDC80436F1E3442A07E5849587D06227EF94ACA5B7D507AFB27C3E28F1D4EBCA35AD0131E1C878F9A933F2FA96362C9B3D977A28595BD9136132FAE7E9E7"
      decryptionKey="0BB3AE41E747C41DA2BD952AC1EDC37A7833017CFDE37171FFC4B740CF5C9A46"
      validation="SHA1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="X-XSS-Protection" />
        <remove name="X-UA-Compatible" />
        <remove name="X-Frame-Options"/>
        <remove name="X-Content-Type-Options"/>
        <remove name="Access-Control-Allow-Origin" />
        <add name="X-XSS-Protection" value="1" />
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <handlers accessPolicy="Read, Script">
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <dataContractByRefSerializer />
        </behavior>
        <behavior name="streamEndpointBehavior" />
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="customSyncClientBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>

        <binding name="customStreamClientBinding" sendTimeout="01:00:00" receiveTimeout="01:00:00" openTimeout="01:00:00" closeTimeout="01:00:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <httpTransport transferMode="Streamed" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      
    </bindings>
    <client>

      <endpoint address="http://localhost:64835/affiliate.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IAffiliateService" />
      <endpoint address="http://localhost:64835/businessplan.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IBusinessPlanService" />
      <endpoint address="http://localhost:64835/cms.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ICmsService" />
      <endpoint address="http://localhost:64835/configuration.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IConfigurationService" />
      <endpoint address="http://localhost:64835/email.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IEmailService" />
      <endpoint address="http://localhost:64835/file.svc" behaviorConfiguration="streamEndpointBehavior" binding="customBinding" bindingConfiguration="customStreamClientBinding" contract="Portal.Services.Contracts.IFileService" />
      <endpoint address="http://localhost:64835/geo.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IGeoService" />
      <endpoint address="http://localhost:64835/group.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IGroupService" />
      <endpoint address="http://localhost:64835/log.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ILogService" />
      <endpoint address="http://localhost:64835/planning.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IPlanningService" />
      <endpoint address="http://localhost:64835/report.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IReportService" />
      <endpoint address="http://localhost:64835/rule.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IRuleService" />
      <endpoint address="http://localhost:64835/survey.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ISurveyService" />
      <endpoint address="http://localhost:64835/user.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IUserService" />
      
      
      <!--<endpoint address="http://localhost.fiddler:64835/affiliate.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IAffiliateService" />
      <endpoint address="http://localhost.fiddler:64835/businessplan.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IBusinessPlanService" />
      <endpoint address="http://localhost.fiddler:64835/cms.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ICmsService" />
      <endpoint address="http://localhost.fiddler:64835/configuration.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IConfigurationService" />
      <endpoint address="http://localhost.fiddler:64835/email.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IEmailService" />
      <endpoint address="http://localhost.fiddler:64835/file.svc" behaviorConfiguration="streamEndpointBehavior" binding="customBinding" bindingConfiguration="customStreamClientBinding" contract="Portal.Services.Contracts.IFileService" />
      <endpoint address="http://localhost.fiddler:64835/geo.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IGeoService" />
      <endpoint address="http://localhost.fiddler:64835/group.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IGroupService" />
      <endpoint address="http://localhost.fiddler:64835/log.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ILogService" />
      <endpoint address="http://localhost.fiddler:64835/planning.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IPlanningService" />
      <endpoint address="http://localhost.fiddler:64835/report.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IReportService" />
      <endpoint address="http://localhost.fiddler:64835/rule.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IRuleService" />
      <endpoint address="http://localhost.fiddler:64835/survey.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.ISurveyService" />
      <endpoint address="http://localhost.fiddler:64835/user.svc" behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="customSyncClientBinding" contract="Portal.Services.Contracts.IUserService" />-->
      
      
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="dataContractByRefSerializer" type="Portal.Infrastructure.ServiceModel.DataContractByRefSerializerExtensionElement, Portal.Infrastructure" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" />
    <mailSettings>
      <smtp deliveryMethod="Network" from="guideport@firstallied.com">
        <network host="aspemail.firstallied.com" port="25" />
      </smtp>
    </mailSettings>
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>