
<div class="promo-container">
    <div class="row">
        <div class="promo content-admin">
            <h3 class="promo-title">Content Admin</h3>
            <div class="promo-logo">
                <i class="fa fa-edit"></i>
            </div>
            <div class="promo-purpose">
                Manage page content, files and third party resources.
            </div>
        </div>
        <div class="promo survey-admin">
            <h3 class="promo-title">Survey Admin</h3>
            <div class="promo-logo">
                <i class="fa fa-check-square-o"></i>
            </div>
            <div class="promo-purpose">
                Manage and configure surveys including score ranges and suggested content.
            </div>
        </div>
        <div class="promo affiliate-admin">
            <h3 class="promo-title">Affiliate Admin</h3>
            <div class="promo-logo">
                <i class="fa fa-institution"></i>
            </div>
            <div class="promo-purpose">
                Manage and configure features, auto-tracked business goals and single-sign-on information.
            </div>
        </div>
        <div class="promo user-admin">
            <h3 class="promo-title">User Admin</h3>
            <div class="promo-logo">
                <i class="fa fa-user"></i>
            </div>
            <div class="promo-purpose">
                View users and manage their roles.
            </div>
        </div>
        <div class="promo group-admin">
            <h3 class="promo-title">Group Admin</h3>
            <div class="promo-logo">
                <i class="fa fa-group"></i>
            </div>
            <div class="promo-purpose">
                Create and manage groups which can be used for Advisor View and Reporting.
            </div>
        </div>
        <div class="promo report-admin">
            <h3 class="promo-title">Reports</h3>
            <div class="promo-logo">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="promo-purpose">
                Run various, pre-defined reports that provide insight into how the application is being utilized.
            </div>
        </div>
    </div>
</div>
