<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <ServiceProvider Name="https://guideport.firstallied.com"
                   AssertionConsumerServiceUrl="~/saml/receive"                   
                   CertificateFile="saml\\certificates\\qa-guideport.pfx"
                   CertificatePassword="1st_Allied" />

  <!-- First Allied ADFS -->  
  <PartnerIdentityProvider Name="http://sneakers.1stallied.com/adfs/services/trust"
                           SignAuthnRequest="false"
                           SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
                           WantSAMLResponseSigned="false"
                           WantAssertionSigned="false"                        
                           WantAssertionEncrypted="false"
                           UseEmbeddedCertificate="true"
                           ClockSkew="00:10:00"
                           SingleSignOnServiceUrl="https://sneakers.1stallied.com/adfs/ls/"
                           SingleLogoutServiceUrl="https://sneakers.1stallied.com/adfs/ls/?wa=wsignout1.0"/>
</SAMLConfiguration>