<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="urn:guideport:idp"
                    CertificateFile="saml\\certificates\\idp.pfx"
                    CertificatePassword="password"/>
  
  <ServiceProvider Name="https://qa-guideport.firstallied.com"
                   AssertionConsumerServiceUrl="~/saml/receive"                   
                   CertificateFile="saml\\certificates\\qa-guideport.pfx"
                   CertificatePassword="1st_Allied" />

  <!-- First Allied ADFS -->  
  <PartnerIdentityProvider Name="http://sneakersqa.1stallied.com/adfs/services/trust"
                           SignAuthnRequest="false"
                           SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
                           WantSAMLResponseSigned="false"
                           WantAssertionSigned="false"                        
                           WantAssertionEncrypted="false"
                           UseEmbeddedCertificate="true"
                           ClockSkew="00:10:00"
                           SingleSignOnServiceUrl="https://sneakersqa.1stallied.com/adfs/ls/"
                           SingleLogoutServiceUrl="https://sneakersqa.1stallied.com/adfs/ls/?wa=wsignout1.0"/>

  <!-- Cetera -->
  <PartnerIdentityProvider Name="http://www.cetera.com"
                           SignAuthnRequest="true"
                           DisableInResponseToCheck="false"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="false"
                           WantAssertionEncrypted="false"
                           UseEmbeddedCertificate="true"
                           ClockSkew="1:00:00"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" />

  <!-- Investors Capital -->
  <PartnerIdentityProvider Name="http://www.investorscapital.com"
                           SignAuthnRequest="true"
                           DisableInResponseToCheck="false"
                           WantSAMLResponseSigned="false"
                           WantAssertionSigned="true"
                           WantAssertionEncrypted="true"
                           UseEmbeddedCertificate="true"
                           ClockSkew="1:00:00"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" />

  <!-- Legend -->
  <PartnerIdentityProvider Name="http://www.legendgroup.com"
                           SignAuthnRequest="true"
                           DisableInResponseToCheck="false"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="false"
                           WantAssertionEncrypted="false"
                           UseEmbeddedCertificate="true"
                           ClockSkew="1:00:00"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" />
  
  <!-- Local Test Idp -->
  <PartnerIdentityProvider Name="urn:guideport:idp"
                           SignAuthnRequest="true"
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="false"
                           WantAssertionEncrypted="false"
                           UseEmbeddedCertificate="true"
                           ClockSkew="1:00:00"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                           SingleSignOnServiceUrl="https://qa-guideport.firstallied.com/auth/idpssoservice" />

  <!-- Local Sp -->
  <PartnerServiceProvider Name="https://qa-guideport.firstallied.com"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="false"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://qa-guideport.firstallied.com/saml/receive"
                          SingleLogoutServiceUrl="https://qa-guideport.firstallied.com/saml/logout"
                          CertificateFile="saml\\certificates\\qa-guideport.cer"/>  
</SAMLConfiguration>