<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="urn:guideport:idp"
                  CertificateFile="saml\\certificates\\idp.pfx"
                  CertificatePassword="password"/>
  
  <!-- Local Test Idp -->
  <PartnerIdentityProvider Name="urn:guideport:idp"
                           SignAuthnRequest="false"                           
                           WantSAMLResponseSigned="true"
                           WantAssertionSigned="false"
                           WantAssertionEncrypted="false"
                           UseEmbeddedCertificate="true"
                           ClockSkew="1:00:00"
                           SingleSignOnServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
                           SingleSignOnServiceUrl="https://localhost:44303/saml/idpssoservice" />

  <PartnerServiceProvider Name="https://localhost:44303"
                          WantAuthnRequestSigned="false"
                          EncryptAssertion="false"
                          SignAssertion="false"
                          SignSAMLResponse="true"
                          AssertionConsumerServiceUrl="https://localhost:44303/saml/receive"
                          SingleLogoutServiceUrl="https://localhost:44303/saml/logout"
                          CertificateFile="saml\\certificates\\qa-guideport.cer"/>
</SAMLConfiguration>
